<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cleverm.smartpen">

    <uses-sdk android:sharedUserId="android.uid.system"   android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="ANDROID.PERMISSION.DEVICE_POWER" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.accessory" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <!-- 使用GPS获取用户精确定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获得sd卡读写的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.accessory" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".application.SmartPenApplication"
        android:icon="@mipmap/ic_launcher_ddp"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".app.SimpleAppActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/VideoTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.DriverActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape"
             />
        <activity
            android:name=".app.EvaluateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".app.DemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape"/>
        <activity
            android:name=".app.FutureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".app.SelectTableActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".app.DiscountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape"/>
        <activity
            android:name=".app.LocalDiscountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".app.DiscountDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".app.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape"/>
        <activity
            android:name=".app.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity android:name=".app.DemoVideoActivity"
            android:theme="@style/VideoTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity android:name=".app.ScrollDiscountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity android:name=".app.LuckyDrawActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="userLandscape" />
        <activity android:name=".app.LuckyDetailActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize|navigation"
                  android:screenOrientation="userLandscape" />

        <service android:name=".service.penService" />
        <service android:name=".service.ScreenLockListenService" />
        <service android:name=".service.CommunicationService" />
        <service android:name=".service.DownloaderService" />
        <service android:name=".service.DownloaderDifferenceService" />
        <service android:name=".service.DownloadPicassoService"/>
        <service android:name="com.bleframe.library.service.BlatandService"/>
        <service android:name=".service.OtherService"/>
        <service android:name=".service.ApolloService"/>

        <receiver android:name=".broadcast.BootRestartReceiver" >
            
            <intent-filter>
                
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            
            </intent-filter>

            <intent-filter>
                <!-- SD卡已经成功挂载   -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <!-- sd卡存在，但还没有挂载   -->
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.ShutDownReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.AlarmReceive">
        </receiver>>

        <!--点点笔友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56f1439767e58e95b1000cf3" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="点点笔" />

    </application>

</manifest>
